<div class="address" id="contact">
    <div class="container">
        <h3 class="w3l-title" style="color: white;">{{ config.nav.contact }}</h3>
        <div class="address-row">
            <div class="col-md-6 address-left wow agile fadeInLeft animated" data-wow-delay=".5s">
                <div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
                    <h4 style="color: #211f1f;">{{ config.contact.location }}</h4>
                    <p><i class="fa fa-globe"></i> {{ config.aboutContent.location }}</p>
                </div>
            </div>
            <div class="col-md-6 address-right">
                <div class="address-info agileits-info wow fadeInRight animated" data-wow-delay=".6s">
                    <h4 style="color: #211f1f;">{{ config.contact.mail }}</h4>
                    <p>
                        <a href="mailto:m.amine.kamal@outlook.com"><i class="fa fa-envelope"></i>
                            m.amine.kamal@outlook.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>