<div class="about" id="about">
    <div class="container">
        <h3 class="w3l-title" style="color: white;">{{ config.nav.about }}</h3>
        <div class="about-w3l-agileifo-grid">
            <div class="col-md-7 agile-w3l-ab">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="agile-w3l-ab-img">
                            <img src="images/fullstack_wizard.jpg" class="img-responsive" alt="Full Stack Developer" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 w3ls-agile-left">
                <div class="w3ls-agile-left-info">
                    <h4>{{ config.aboutForm.name }}</h4>
                    <p><i class="fa fa-user"></i> {{ config.aboutContent.name }}</p>
                </div>
                <div class="w3ls-agile-left-info">
                    <h4>{{ config.aboutForm.expertise }}</h4>
                    <p><i class="fa fa-graduation-cap"></i> {{ config.aboutContent.expertise }}</p>
                </div>
                <div class="w3ls-agile-left-info">
                    <h4>{{ config.aboutForm.location }}</h4>
                    <p><i class="fa fa-globe"></i> {{ config.aboutContent.location }}</p>
                </div>
                <div class="w3ls-agile-left-info">
                    <h4>{{ config.aboutForm.email }}</h4>
                    <p>
                        <a href="mailto:m.amine.kamal@outlook.com"><i class="fa fa-envelope"></i>
                            m.amine.kamal@outlook.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>