<div id="home" class="banner">
    <div class="banner-agileinfo">
        <div class="header">
            <img src="images/1.png" style="width: 100%; height: auto;" />
            <div class="container">
                <div class="menu">
                    <a href="" id="menuToggle"> <span class="navClosed"></span> </a>
                    <nav>
                        <a href="index.html" class="active">{{ config.nav.home }}</a>
                        <a href="#about" class="scroll">{{ config.nav.about }}</a>
                        <a href="#skills" class="scroll">{{ config.nav.skills }}</a>
                        <a href="#experience" class="scroll">{{ config.nav.experience}}</a>
                        <a href="#education" class="scroll">{{ config.nav.eductation }}</a>
                        <a href="#projects" class="scroll">{{ config.nav.projects }}</a>
                        <a href="#contact" class="scroll">{{ config.nav.contact }}</a>
                        <a href="cv.pdf" target="_blank" download>
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            {{ config.nav.download }}
                        </a>
                        <a class="github" href="https://github.com/AmineKamal" target="_blank">
                            <i class="fa fa-github"></i>
                            Github
                        </a>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>