<div class="portfolio" id="projects">
    <div class="container">
        <h3 class="w3l-title" style="color: white;">My Projects</h3>
        <ul class="nav nav-pills dark">
            <li role="presentation" class="active"><a href="#">All</a></li>
            <li role="presentation"><a href="#">Typescript</a></li>
            <li role="presentation"><a href="#">Game</a></li>
        </ul>
        <div class="agileits_portfolio_grids">
            <div class="col-md-4 agileits_portfolio_grid">
                <div class="agileinfo_portfolio_grid hovereffect">
                    <a class="cm-overlay" href="images/scraper.png">
                        <img src="images/scraper.png" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>Simple Html Scraper</h4>
                            <div class="w3ls-social-icons-2"
                                style="display: flex;justify-content: space-around;margin-top: 1em;">
                                <a href="https://github.com/AmineKamal/simple-html-scraper" target="_blank"><i
                                        class="fa fa-code"></i></a>
                                <a onclick="alert('Demo Coming Soon')"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 agileits_portfolio_grid">
                <div class="agileinfo_portfolio_grid hovereffect">
                    <a class="cm-overlay" href="images/g9.jpg">
                        <img src="images/mailer.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>Mailer</h4>
                            <div class="w3ls-social-icons-2"
                                style="display: flex;justify-content: space-around;margin-top: 1em;">
                                <a href="https://github.com/AmineKamal/mailer" target="_blank"><i
                                        class="fa fa-code"></i></a>
                                <a onclick="alert('Demo Coming Soon')"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 agileits_portfolio_grid">
                <div class="agileinfo_portfolio_grid hovereffect">
                    <a class="cm-overlay" href="images/g6.jpg">
                        <img src="images/webscript.jpeg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>WebScript</h4>
                            <div class="w3ls-social-icons-2"
                                style="display: flex;justify-content: space-around;margin-top: 1em;">
                                <a href="https://github.com/AmineKamal/webscript" target="_blank"><i
                                        class="fa fa-code"></i></a>
                                <a onclick="alert('Demo Coming Soon')"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 agileits_portfolio_grid">
                <div class="agileinfo_portfolio_grid hovereffect">
                    <a class="cm-overlay" href="images/g12.jpg">
                        <img src="images/remote.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>Remote Script Launcher</h4>
                            <div class="w3ls-social-icons-2"
                                style="display: flex;justify-content: space-around;margin-top: 1em;">
                                <a href="https://github.com/AmineKamal/remote-script-launcher" target="_blank"><i
                                        class="fa fa-code"></i></a>
                                <a onclick="alert('Demo Coming Soon')"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>