<div class="portfolio" id="projects">
    <div class="container">
        <h3 class="w3l-title" style="color: white;">My Projects</h3>
        <ul class="nav nav-pills dark">
            <li *ngFor="let tag of config.projects.tags" role="presentation" [class.active]="active.includes(tag)"
                style="cursor: pointer;">
                <a (click)="filter(tag)">{{tag}}</a>
            </li>
        </ul>

        <hr />

        <div class="agileits_portfolio_grids">
            <div *ngFor="let p of filtered" class="col-md-4 agileits_portfolio_grid">
                <div class="agileinfo_portfolio_grid hovereffect">
                    <a>
                        <img [src]="p.image" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>{{p.name}}</h4>
                            <div class="w3ls-social-icons-2"
                                style="display: flex;justify-content: space-around;margin-top: 1em;">
                                <a [href]="p.code" target="_blank"><i class="fa fa-code"></i></a>
                                <a (click)="playDemo(p.demo)" style="cursor: pointer;"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>