<div class="experience" id="education">
    <div class="container">
        <h3 class="w3l-title" style="color: #E3E2DE;">My Education</h3>
        <div class="col-md-12 abt-left">
            <div class="accordion">
                <div class="accordion-section">
                    <h5>
                        <a class="accordion-section-title" href="#accordion-1">
                            <span>2016 - 2020</span>Polytechnic School of Montreal
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                    </h5>
                    <div id="accordion-1" class="accordion-section-content">
                        <h6>Software Engineering</h6>
                        <h6>School Projects</h6>
                        <ul>
                            <li>
                                <a href="https://bitbucket.org/Amine9393/inf1900" class="fa fa-code" aria-hidden="true"
                                    target="blank"></a>
                                <a class="fa fa-ban"></a><span></span>
                                Line following robot which, using a sensor, can analyze the
                                walls of a tunnel it crosses. Course: INF1900 (C ++)
                            </li>
                            <li>
                                <a href="https://gitlab.com/team-projet-4" class="fa fa-code" aria-hidden="true"
                                    target="blank"></a>
                                <a onclick="alert('Demo Coming Soon')" class="fa fa-play" aria-hidden="true"
                                    target="blank"></a><span></span>
                                Game - Web application. Course: LOG2990 (Angular, NodeJs,
                                Typescript, Express, MongoDB,ThreeJs)
                            </li>
                            <li>
                                <a href="https://gitlab.com/team-projet-4" class="fa fa-code" aria-hidden="true"
                                    target="blank"></a>
                                <a onclick="alert('Demo Coming Soon')" class="fa fa-play" aria-hidden="true"
                                    target="blank"></a><span></span> Game - Desktop and Android Application.
                                Course: LOG3900 (C#, WPF, Kotlin, Android, MongoDB, NodeJs,
                                Typescript, Express)
                            </li>
                            <li>
                                <a href="https://gitlab.com/team-projet-4" class="fa fa-code" aria-hidden="true"
                                    target="blank"></a>
                                <a onclick="alert('Demo Coming Soon')" class="fa fa-play" aria-hidden="true"
                                    target="blank"></a><span></span>
                                Tinder-Like Application to create Student Groups. Course:
                                LOG8970 (Ionic, Angular, NodeJs, Typescript, Express,
                                MongoDB)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="accordion-section">
                    <h5>
                        <a class="accordion-section-title" href="#accordion-2">
                            <span>2014 - 2015</span> University of Ottawa
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                    </h5>
                    <div id="accordion-2" class="accordion-section-content">
                        <h6>Electrical Engineering</h6>
                    </div>
                </div>
                <div class="accordion-section">
                    <h5>
                        <a class="accordion-section-title" href="#accordion-3">
                            <span>2011 - 2013</span> Montmorency College
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                    </h5>
                    <div id="accordion-3" class="accordion-section-content">
                        <h6>Health Science</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>