<div class="experience" id="education">
    <div class="container">
        <h3 class="w3l-title" style="color: #E3E2DE;">{{ config.nav.eductation }}</h3>
        <div class="col-md-12 abt-left">
            <div class="accordion">
                <div *ngFor="let education of config.education; let i = index" class="accordion-section">
                    <h5>
                        <a class="accordion-section-title" [href]="'#accordion-' + i.toString()">
                            <span>{{ education.start }} - {{ education.end }}</span>{{ education.school }}
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                    </h5>
                    <div [id]="'accordion-' + i.toString()" class="accordion-section-content">
                        <h6>{{ education.title }}</h6>

                        <ng-container *ngIf="education.projects.length > 0">
                            <h6>{{ education.projectTitle }}</h6>
                            <ul>
                                <ng-container *ngFor="let project of education.projects">
                                    <hr />
                                    <li style="display: flex; height:auto">
                                        <div
                                            style="display: flex; flex-direction: column; height:inherit; justify-content: space-around; align-items: center; margin-right: 20px;">
                                            <a [href]="project.code" class="fa fa-code" aria-hidden="true"
                                                target="blank"></a>
                                            <a *ngIf="!project.demo" class="fa fa-ban"></a><span></span>
                                            <a *ngIf="project.demo" (click)="playDemo(project.demo)" class="fa fa-play"
                                                aria-hidden="true" target="blank" style="cursor: pointer;"></a>
                                        </div>
                                        <div
                                            style="display: flex; flex-direction: column; justify-content: flex-start; text-indent: 0;">
                                            {{ project.description}}
                                            <div>
                                                <span *ngFor="let tag of project.tags" class="badge"
                                                    style="margin-right: 1px; color: white; width: fit-content;">
                                                    {{tag}}
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>